$color-white-flat: #ecf0f1;

$color-grey-light-1: #bdc3c7;
$color-grey-light-2: #b2bec3;
$color-grey-dark-1: #636e72;
$color-grey-dark-2: #2d3436;

$color-black: #000;
$color-white: #fff;

.container{
  flex:1;
  background-color: $color-white-flat;
}

.round{
  padding: 1rem;
  border-radius: 5px;
  background-color: $color-white;
  box-shadow: 10px 5px 5px black;
  
  margin-left: 1rem;
  margin-right: 1rem;
}

.employee{
  flex-direction: row;
  align-content: center;

  margin-top: 1rem;
  
  &__infoDetails{
    margin-left: .5rem;
    margin-top: .5rem;

    &__text{
      color: $color-black;
    }
  }
}

.statics{
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1rem;

  &__avg, &__lastTest{
    color: $color-grey-dark-1;
    font-weight: bold;
  }
}

.header1{
  color: $color-grey-dark-2; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem; 
  margin: 1rem; 
  margin-bottom: 1.4px;
}

.tests{
  flex: 1; 
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: $color-white;

  padding: .2rem;

}